.container{
	padding: 140px 0px 0px 0px;
}
h1{
	text-align: center;	
	color: rgba(52, 152, 219,1.0);	
	font-family: 'Lobster', cursive;
	font-size: 120px;
}
body{
	background: url("http://i.imgur.com/07t2mb2.gif");
}
.lend{
	position: absolute;
	top: 35%;
	left: 33%;
	margin-top: -50px;
	margin-left: -150px;
	border-radius: 25px;
}
@media(max-width: 500px){
	.container{
		padding: 95px 0px 0px 0px;
	}
	h1{
		text-align: center;	
		color: rgba(52, 152, 219,1.0);	
		font-family: 'Lobster', cursive;
		font-size: 80px;
	}
	.row{
		padding: 10px;
	}
	.lend{
		position: absolute;
		margin: 0 auto;
		top: 20px;
		border-radius: 25px;
	}
	body{
		text-align: center;
	}

}