.container{
	padding: 140px 0px 0px 0px;
}
h1{
	text-align: center;	
	color: rgba(52, 152, 219,1.0);	
	font-family: 'Lobster', cursive;
	font-size: 120px;
}
body{
	background: url("http://i.imgur.com/07t2mb2.gif");
}